[submodule "data/QA"]
	path = data/QA
	url = http://datasets.datalad.org/dbic/QA/.git
[submodule "data/extractions"]
	path = data/extractions
	url = ./data/extractions
[submodule "data/QA-mriqc"]
	path = data/QA-mriqc
	url = ./data/QA-mriqc
[submodule "data/dbic"]
	path = data/dbic
	url = ./data/dbic
	distribution-restrictions = sensitive
[submodule "code/test_data"]
	path = data/life
	url = http://datasets.datalad.org/labs/haxby/life/.git
[submodule "irb"]
	path = irb
	url = ./irb
[submodule "code/simple_workflow"]
       path = code/simple_workflow
       url = https://github.com/ReproNim/simple_workflow
[submodule "output/simple_workflow-life"]
	path = output/simple_workflow-life
	url = ./output/simple_workflow-life
[submodule "presentations/2020-NNL"]
	path = presentations/2020-NNL
	url = https://github.com/proj-nuisance/talk-2020-NNL.git
	datalad-id = 5db11bd6-8755-11e9-8596-f0d5bf7b5561
