[submodule "data/QA"]
	path = data/QA
	url = http://datasets.datalad.org/dbic/QA/.git
[submodule "data/extractions"]
	path = data/extractions
	url = ./data/extractions
[submodule "data/QA-mriqc"]
	path = data/QA-mriqc
	url = ./data/QA-mriqc
[submodule "data/dbic"]
	path = data/dbic
	url = ./data/dbic
[submodule "code/simple_worflow"]
	path = code/simple_worflow
	url = https://github.com/ReproNim/simple_workflow
[submodule "code/test_data"]
	path = code/test_data
	url = http://datasets.datalad.org/labs/haxby/life/.git
[submodule "irb"]
	path = irb
	url = ./irb
