[submodule "data/QA"]
	path = data/QA
	url = http://datasets.datalad.org/dbic/QA/.git
[submodule "data/extractions"]
	path = data/extractions
	url = ./data/extractions
[submodule "data/QA-mriqc"]
	path = data/QA-mriqc
	url = ./data/QA-mriqc
